<?xml version='1.0' encoding='utf-8'?>
<widget id="com.example.step-up" version="0.1.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>StepUp</name>
    <description>
        A simple Pedometer using PhoneGap and jQuery Mobile
    </description>
    <author email="dev@cordova.apache.org" href="http://cordova.io">
        Apache Cordova Team
    </author>
    <content src="index.html" />
    <access origin="*" />
</widget>
